.App {
  text-align: center;
  background-color: lightgrey;
  height: 100vh;
}
h1 {
  text-transform: uppercase;
  margin: 0 auto;
  padding: 20px 0;
}
p {
  font-weight: 600;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
input {
  width: 60%;
  padding: 10px 0;
  text-align: center;
}
li {
  display: block;
  margin: 10px auto;
  padding: 10px 0;
  margin-left: 20px;
}

.task-line {
  border: .5px solid black;
  border-radius: 5px;
  background-color: gray;
  width: 60%;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
}
button {
  width: 50px;
  height: 30px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid black;
}
button:hover {
  background-color: white;
  transition: .3s;
}
